.subheading__title {
  width: 100%;
  text-align: center;
  position: relative;
}

.subheading__title p {
  position: relative;
  padding: 10px;
  background: #2b2928 !important;
  display: inline-block;
  z-index: 1;
}

.subheading__title::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 3px;
  background: #dc9457;
  z-index: 0;
}

.chefheading__title {
  width: 30%;
  text-align: center;
  position: relative;
  margin: 0 auto;
}

.chefheading__title p {
  position: relative;
  padding: 10px;
  background: var(--color-golden) !important;
  display: inline-block;
  z-index: 1;
  color: var(--color-black);
}

.chefheading__title::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 3px;
  background: #dc9457;
  z-index: 0;
}

.footerHeadin__title {
  width: 100%;
  text-align: center;
  position: relative;
}

.footerHeadin__title p {
  position: relative;
  padding: 10px;
  background: var(--color-black) !important;
  display: inline-block;
  z-index: 1;
}

.footerHeadin__title::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 3px;
  background: #dc9457;
  z-index: 0;
}

@media screen and (max-width: 900px) {
  .chefheading__title {
    width: 100%;
  }
  .chefheading__title p {
    padding: 20px 40px;
  }
}
